body {
    width: 90%;
    margin: 30px auto;
    background-color: #2a2a2a;
    color: #dedede;
}

noscript {
    color: #ff531a;
    font-weight: bold;
    font-size: 18px;
}

#tabs {
    display: none; /* wird zur Laufzeit gesetzt */
}

.info-text {
    font-style: italic;
}

#tab-content {
    border: 1px solid #4d4d4d;
    padding: 30px;
}

.error-text {
    color: #ff531a;
}

.success-text {
    color: #47d147;
}

.text-bold {
    font-weight: bold;
}

#result {
    display: none; /* wird zur Laufzeit gesetzt */
}